@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

p{
    font-size:150%;
    text-align:center;
}

.com_dur{
  width:fit-content;

}

.role_desc{
  width:fit-content;
}

.experience{
  margin: 10px;
  padding: 20px;
}

#exp1{
    border: 2px inset;
    border-color: black;
    margin: auto;
    padding: 10px;
    height: fit-content;
    width:80%;
    flex: 2;
    clear: both;
}

#exp2{
    border: 2px inset;
    border-color: black;
    margin: auto;
    padding: 10px;
    height: fit-content;
    width:80%;
    flex: 2;
    clear: both;
}


.role_nav{
    font-family: 'Poiret One', cursive;
}

.work_ico{
    height: 100px;
    width: 130px;
    padding: 5px;
    clear: both;
    display:block;
    margin-left: auto;
    margin-right: auto;
}

section{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
{
  body{
  background-color: white;
  .experience { order: -1;}
  }
}

@media screen and (max-width: 600px)
{
  section {flex-flow: column;}
}