@import "compass";
@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";

.project{
  margin: 10px;
  padding: 20px;
}

.pro_title{
    font-size:200%;
    text-align:center;
    text-decoration: underline;
}

.pro_durt{
    font-size:150%;
    text-align:center;
}

.pro_desc{
    font-size:125%;
    text-align:left;
}

#pro1{
      width:75%;
    margin: auto;
    border: 2px inset #73AD21;
}

#pro2{
      width:75%;
    margin: auto;
    border: 2px inset #73AD21;
}

#pro3{
      width:75%;
    margin: auto;
    border: 2px inset #73AD21;
}

#pro4{
      width:75%;
    margin: auto;
    border: 2px inset #73AD21;
}

section{
  display:flex;
  flex-flow:row wrap;
  justify-content: space-between;
}


@media only screen and (min-device-width : 320px) and (max-device-width : 568px) and (orientation : portrait)
{
  body{
  background-color: white;
  .project { order: -1;}
  }
}

@media screen and (max-width: 600px)
{
  section {flex-flow: column;}
}