/* line 5, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby23-x64/lib/ruby/gems/2.3.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 6, ../sass/exp.scss */
p {
  font-size: 150%;
  text-align: center;
}

/* line 11, ../sass/exp.scss */
.com_dur {
  width: fit-content;
}

/* line 16, ../sass/exp.scss */
.role_desc {
  width: fit-content;
}

/* line 20, ../sass/exp.scss */
.experience {
  margin: 10px;
  padding: 20px;
}

/* line 25, ../sass/exp.scss */
#exp1 {
  border: 2px inset;
  border-color: black;
  margin: auto;
  padding: 10px;
  height: fit-content;
  width: 80%;
  flex: 2;
  clear: both;
}

/* line 36, ../sass/exp.scss */
#exp2 {
  border: 2px inset;
  border-color: black;
  margin: auto;
  padding: 10px;
  height: fit-content;
  width: 80%;
  flex: 2;
  clear: both;
}

/* line 48, ../sass/exp.scss */
.role_nav {
  font-family: 'Poiret One', cursive;
}

/* line 52, ../sass/exp.scss */
.work_ico {
  height: 100px;
  width: 130px;
  padding: 5px;
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 62, ../sass/exp.scss */
section {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

@media only screen and (min-device-width: 320px) and (max-device-width: 568px) and (orientation: portrait) {
  /* line 71, ../sass/exp.scss */
  body {
    background-color: white;
  }
  /* line 73, ../sass/exp.scss */
  body .experience {
    order: -1;
  }
}
@media screen and (max-width: 600px) {
  /* line 79, ../sass/exp.scss */
  section {
    flex-flow: column;
  }
}
